/* A copy of google */

/* class */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.google {
  background: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.parent {
  background: white;
  display: flex;
}
.child1 {
  height: 2vh;
  width: 17vw;
  padding-top: 20px;
  padding-left: 10px;
  align-self: flex-start;
}
.child2 {
  width: 67vw;
  height: 2vh;
  align-self: center;
}
.child3 {
  height: 4vh;
  width: 20vw;
  padding-top: 2vh;
  align-self: flex-end;
}

.logo {
  align-self: center;
  padding-bottom: 3vh;
}
.search {
  align-self: center;
  position: relative;
  width: 30vw;
  min-width: 30vw;
  height: 4.5%;
}
.search i {
  position: absolute;
  left: 1vh;
  bottom: 2vh;
  min-width: 30vw;
  top: 1vh;
  padding: 0.5vh;
  color: lightslategray;
}
.search input {
  align-self: center;
  width: 100%;
  max-width: 31vw;
  min-width: 31vw;
  height: 100%;
  border-radius: 2.5vh;
  border-width: 0.05vw;
  border-color: lightgray;
  outline: none;
  font-size: 1vw;
  padding-left: 2vw;
}
.empty {
  width: 100%;
  height: 18%;
}
.buttons {
  position: relative;
  align-self: center;
  top: 1.5vw;
}

.language {
  position: relative;
  top: 5vw;
  left: 31.5vw;
  width: 40vw;
  height: 2vw;
}
.footer {
  background: rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5vw;
  position: absolute;
  bottom: 0px;
}
/* id */
#location {
  position: relative;
  left: 1.5vw;
  top: 2vh;
}

#signin {
  outline: none;
  border-radius: 0.4vh;
  background: rgba(0, 102, 255, 0.89);
  position: relative;
  bottom: 0.7vh;
  width: 3vw;
  height: 3vh;
  cursor: pointer;
}

#set1 {
  border: none;
  outline: none;
  position: relative;
  align-self: flex-start;
  right: 0px;
  left: 1.5vw;
  width: 24vw;
  top: 2.5vw;
}

#set2 {
  align-self: flex-end;
  position: absolute;
  top: 6.3vh;
}

#Gsearch {
  outline: none;
  width: 8vw;
  height: 3.2vh;
  position: relative;
  right: 0.5vw;
  cursor: pointer;
}

#luck {
  outline: none;
  width: 8vw;
  height: 3.2vh;
  position: relative;
  left: 0.5vw;
  cursor: pointer;
}

#menu {
  width: 2vw;
  height: 2vh;
}
/* tags */
li {
  text-decoration: black;
  float: left;
  padding-right: 2vw;
}

a:link {
  text-decoration: black;
}

a:visited {
  text-decoration: black;
}

a:hover {
  text-decoration: black underline;
}
