/* A copy of google */

/* class */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.google {
  background: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 20px tomato;
}

.parent {
  background: white;
  display: flex;
}
.child1 {
  height: 40px;
  width: 17vw;
  padding-top: 20px;
  padding-left: 10px;
  align-self: flex-start;
}
.child2 {
  width: 67vw;
  height: 20px;
  align-self: center;
}
.child3 {
  height: 40px;
  width: 20vw;
  padding-top: 20px;
  align-self: flex-end;
}

.logo {
  align-self: center;
  padding-bottom: 3vh;
}
.search {
  align-self: center;
  position: relative;
  width: 600px;
  height: 4.5%;
}
.search i {
  position: absolute;
  left: 1vh;
  bottom: 2vh;
  top: 1vh;
  padding: 0.5vh;
  color: lightslategray;
}
.search input {
  align-self: center;
  width: 100%;
  max-width: 800px;
  height: 100%;
  border-radius: 25px;
  border-width: 0.5px;
  border-color: gray;
  outline: none;
  font-size: 25px;
  padding-left: 2vw;
}
.empty {
  width: 100%;
  height: 18%;
}
.buttons {
  position: relative;
  align-self: center;
  top: 40px;
}

.language {
  position: relative;
  top: 100px;
  left: 600px;
  width: 800px;
  height: 100px;
}
.footer {
  background: rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
}
/* id */
#location {
  position: relative;
  left: 32px;
  top: 20px;
}

#set1 {
  position: relative;
  align-self: flex-start;
  right: 0px;
  left: 30px;
  width: 800px;
  top: 45px;
}

#set2 {
  align-self: flex-end;
  position: absolute;
  top: 60px;
}

#Gsearch {
  width: 150px;
  height: 30px;
  position: relative;
  right: 5px;
}

#luck {
  width: 150px;
  height: 30px;
  position: relative;
  left: 5px;
}

#menu {
  width: 20px;
  height: 20px;
}
/* tags */
li {
  text-decoration: black;
  float: left;
  padding-right: 2vw;
}

a:link {
  text-decoration: black;
}

a:visited {
  text-decoration: black;
}

a:hover {
  text-decoration: black underline;
}
